@font-face {
  font-family: "Pirulen";
  src:
    url("/dist/fonts/FontsFree-Net-pirulen-rg.ttf") format("TrueType"),
}

@font-face {
  font-family: "MaquineCaps";
  src:
    url("/dist/fonts/OldMaquineCaps.ttf") format("TrueType"),
}

@font-face {
  font-family: "Poppins";
  src:
    url("/dist/fonts/Poppins-Regular.ttf") format("TrueType"),
}

/**
 * Global vars
 */
:root {
  --r-heading-font: "MaquineCaps", Sans-serif;
  --r-heading2-size: 1.5em;
  --r-main-font: "Poppins", Sans-serif;
  --r-title-font: "Pirulen", Sans-serif;
  --r-main-font-size: 42px;
  --r-main-color: #3A3938;
  font-weight: 400;

  --background-color: #fff;
  --heading-color: #78E23A;
  --primary-color: #78E23A;
  --text-color: #3A3938;
  --highlighted-color: #E9883E;
}

/**
 * Common
 */
.reveal h1, .reveal h2 {
  color: var(--heading-color);
}

.reveal p {
  color: var(--text-color);
}

.reveal .txt-highlighted, .reveal .txt-highlighted > p {
  color: var(--highlighted-color);
}

footer .main {
  z-index: 10;
  background: white;
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  min-height: 80px;
  text-align: center;
}

footer .main .onepoint-logo {
  margin-top: 10px;
}

footer .main .brand {
  margin-top: 10px;
  left: 50px;
  position: absolute;
  height: 44px;
}

footer .cover {
  display: none;
}

video {
  pointer-events: none;
}

/**
 * Cover
 */
@keyframes stylex-title-back {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
@keyframes stylex-title-pix {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  45% {
    opacity: 1;
    transform: scale(0.5);
  }
  55% {
    opacity: 0;
    transform: scale(.5);
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
}
.cover-x1 {
  top:-190px;
  right: 345px;
  position: absolute;
  width: 180px;
  height: 180px;
  aspect-ratio: 1;
  transform: rotate3d(0,14.8,-4.4,130deg) translate(-7%,1%) scale(1.12);

}
.cover-x1 > .content {
  width: 100%;
  height: 100%;
  inset: 2px;
  border-top-width: 10px;
  border-left-width: 10px;
  mask-image: linear-gradient(125deg,white 30%,transparent 65%);
  border-color: white;
  border-style: solid;
  border-radius: 50%;
  box-sizing: border-box;
}

.cover-x1-circle {
  width: 100%;
  height: 100%;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-name: stylex-title-back;
  animation-timing-function: linear;
}

.cover-x1-circle > .content {
  border-radius: 50%;
  background-image: radial-gradient(#FCD5FD 0%,#FD9EFF 19.619%,#F53BFA 51.352%,#E22FE6 82.291%,#CF28D4 100%);
  position: absolute;
  z-index: 1;
  height: 20px;
  bottom: 70%;
  animation-name: stylex-title-pix;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 20px;
}

.cover-x2 {
  top:-196px;
  right: 350px;
  position: absolute;
  width: 180px;
  height: 180px;
  aspect-ratio: 1;
  transform: rotate3d(-2,12.1,-3.5,-126deg) translate(-18%,10%) scale(1.12);

}
.cover-x2 > .content {
  width: 100%;
  height: 100%;
  inset: 2px;
  border-top-width: 10px;
  border-left-width: 10px;
  mask-image: linear-gradient(80deg,white 30%,transparent 65%);
  border-color: white;
  border-style: solid;
  border-radius: 50%;
  box-sizing: border-box;
}

.cover-x2-circle {
  width: 100%;
  height: 100%;
  animation-duration: 5s;
  animation-delay: -2.5s;
  animation-iteration-count: infinite;
  animation-name: stylex-title-back;
  animation-timing-function: linear;
}

.cover-x2-circle > .content {
  border-radius: 50%;
  background-image: radial-gradient(#E5F9FF 0%,#B2EEFE 21.605%,#5ED9FB 57.356%,#5DD1F1 77.207%,#55C4E3 100%);
  position: absolute;
  z-index: 1;
  bottom: 70%;
  animation-name: stylex-title-pix;
  animation-duration: 5s;
  animation-delay: -2.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  height: 20px;
  width: 20px;
}
.cover-background {
  background-image:url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="white" viewBox="0 0 644 435"><path d="M85.547 161.625v16.563C70.964 168.395 57.839 163.5 46.172 163.5c-8.646 0-15.938 2.344-21.875 7.031-5.938 4.688-8.906 10.469-8.906 17.344 0 4.896 1.796 9.401 5.39 13.516 3.594 4.114 13.542 9.297 29.844 15.547s26.953 12.76 31.953 19.53c5 6.772 7.5 14.324 7.5 22.657 0 11.146-4.531 20.547-13.594 28.203-9.062 7.656-20.26 11.485-33.593 11.485-14.48 0-28.855-4.375-43.125-13.125v-15c16.979 8.75 32.03 13.125 45.156 13.125 8.854 0 16.12-2.344 21.797-7.032 5.677-4.687 8.515-10.677 8.515-17.969 0-5-1.849-9.609-5.546-13.828-3.698-4.218-13.698-9.557-30-16.015-16.303-6.459-26.876-12.839-31.72-19.14C3.126 203.525.704 196.52.704 188.811c0-10.937 4.505-20.234 13.516-27.89 9.01-7.656 19.974-11.484 32.89-11.484 11.771 0 24.584 4.062 38.438 12.187ZM147.89 104.594v47.656h40.313v12.5h-40.312v85.469c0 13.75 1.12 22.786 3.359 27.11 2.24 4.322 8.255 6.483 18.047 6.483 7.5 0 16.25-2.343 26.25-7.03v14.687c-10.104 4.896-20 7.344-29.688 7.344-9.479 0-17.395-2.709-23.75-8.125-6.354-5.417-9.53-12.917-9.53-22.5V164.75h-38.75v-12.5h38.75v-34.219l10.468-13.437h4.844ZM331.797 152.25l-107.5 217.344h-15.625l50.157-101.406-60.47-115.938h16.095l52.187 100.625 49.53-100.625zM367.735 77.719v218.28h-15.47V77.72zM522.422 218.813H409.14c-.313 2.5-.47 5-.47 7.5 0 16.041 5.73 29.635 17.188 40.78 11.459 11.147 25 16.72 40.625 16.72 18.23 0 36.042-7.136 53.438-21.407v17.344c-16.458 12.708-34.896 19.063-55.313 19.063-20.729 0-37.864-7.188-51.406-21.563-13.542-14.375-20.312-32.656-20.312-54.844 0-21.041 6.25-38.463 18.75-52.265s28.229-20.703 47.187-20.703c17.813 0 32.865 6.223 45.156 18.671 12.292 12.448 18.438 29.35 18.438 50.703Zm-111.25-12.344h93.125c-5.417-28.021-20.573-42.031-45.469-42.031-11.77 0-21.953 3.671-30.547 11.015-8.594 7.344-14.297 17.682-17.11 31.0116Z" ></path></svg>');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -80%;
  left: 35%;
  right: 75%;
  width: 25%;
  height: 180px;
}

.reveal-viewport.title footer .main {
  display: none;
}

.reveal-viewport.title h1 {
  font-family: var(--r-title-font), serif;
  font-size: 2em;
  filter: drop-shadow(0 0 0.75rem black);
  color: #78E23A;
}

.whoami .onepoint-logo {
  text-align: left;
}

.whoami .onepoint-logo img {
  width: 200px;
  margin: 0;
  margin-left: -20px;
}

.tailwind-logo {
    width: 50%;
    float: right;
}

.bundler {
  width: 200px;
  position: absolute;
}

.esbuild {
  top: 380px;
  left: 90px;
}

.webpack {
  top: 62px;
  left: 293px;
}

.rollup {
  top: 450px;
  right: 150px;
}

.vitejs {
  top: 170px;
  right: 80px;
}

.babel {
  top: 320px;
  right: 340px;
}

.demo-time img {
  max-height: 600px;
}

.plongeon img {
  max-height: 600px;
}

.frise img {
  margin-top: 100px;
  width: 150%;
}

.frise-item {
  position: absolute;
}

.frise-item img {
  width: 60px;
}

.frise-date {
  position: absolute;
  font-size: 0.6em;
  color: var(--text-color);
  font-weight: bold;
  text-align: center;
  max-width: 100px;
}

.frise-date p {
  line-height: 1.1em;
}

.frise-date-css2 {
  left: 40px;
  top: 160px;
}

.frise-item-css2 {
  left: 38px;
  top: 230px;
}

.frise-date-sass {
  left: 200px;
  top: -60px;
}

.frise-item-sass {
  left: 202px;
  top: -150px;
}

.frise-date-css3 {
  left: 355px;
  top: -130px;
}

.frise-item-css3 {
  left: 352px;
  top: -60px;
}

.frise-date-bootstrap {
  left: 505px;
  top: -60px;
}

.frise-item-bootstrap {
  left: 502px;
  top: -150px;
}

.frise-date-atomic {
  left: 655px;
  top: -130px;
}

.frise-item-atomic {
  left: 632px;
  top: -60px;
}

.frise-date-tailwind {
  left: 805px;
  top: -60px;
}

.frise-item-tailwind {
  left: 802px;
  top: -150px;
}

.how-it-works-before {
  position: absolute;
  left: 0;
  top: 210px;
  max-width: 300px;
}

.how-it-works-before__caption  {
  position: absolute;
  left: 110px;
  top: 170px;
  font-size: 0.8em;
  color: var(--text-color);
  font-weight: bold;
}

.how-it-works-after {
  position: absolute;
  right: 0;
  top: 250px;
  max-width: 380px;
}

.how-it-works-after__caption  {
  position: absolute;
  right: 180px;
  top: 200px;
  font-size: 0.8em;
  color: var(--text-color);
  font-weight: bold;
}

.how-it-works__arrow{
  max-width: 40px;
  position: absolute;
  top: 250px;
}

.how-it-works_arrow__left{
  left: 330px;
}

.how-it-works_arrow__right {
  left: 520px;
}

.how-it-works__compiler {
  position: absolute;
  max-width: 100px;
  top: 225px;
  left: 390px;
}

.code-create-styles .code-wrapper code {
  min-height: 480px;
}

.whoami > .content {
  display: flex;
  flex-direction: row;
}

.whoami img {
  border-radius: 5%;
  width: 70%;
}

.whoami .col-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.whoami .col-right p {
  text-align: left;
  font-size: 0.8em;
}

.large-code-exemple pre.code-wrapper {
  width: 100%;
}

.large-code-exemple pre.code-wrapper code {
  overflow-x: hidden;
  overflow-y: scroll;
}

.theme-video-mask {
  position: absolute;
  top: 514px;
  background-color: white;
  width: 100%;
  height: 100%;
}

section.sauter-le-pas h2 {
  text-shadow: #3A3938 0 0 15px;
}

.sauter-le-pas .slide-background-content {
  background: radial-gradient(ellipse, transparent 60%, white 80%), url("images/sauter-le-pas.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section.questions {
  height: 500px;
  background-color:rgba(255, 255, 255, 0.8);
  opacity: 0.33;
  border-radius: 1px;
  box-shadow: 0 0 0 8px rgba(0,0,0,0.2);
}

section.questions h2 {
  margin-top: 200px;
}

.qrcode img {
  position: absolute;
  top: 50px;
  width: 250px;
}

.qrcode.title {
  position: absolute;
  top: 320px;
  width: 250px;
  text-align: center;
}

.qrcode.github img,
.qrcode.github {
  left: 100px;
}

.qrcode.openfeedback img,
.qrcode.openfeedback {
  right: 100px;
}
